<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
	        <file>./logs/server-vertx.log</file>
		    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
		      <!-- rollover daily -->
		      <fileNamePattern>./logs/xzadmin-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		       <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
		       <maxFileSize>100MB</maxFileSize>    
		       <maxHistory>60</maxHistory>
		       <totalSizeCap>20GB</totalSizeCap>
		    </rollingPolicy>
       <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>
	
    <logger name="java.sql" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="RollingFile"/>
    </root>

</configuration>
